{% extends 'mrdrbot/base.html' %}

{% block content %}

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">About</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About the bots</h4>
      </div>
      <div class="modal-body">
        <p>Both bots started out with static text from public domain books.<br>
          Each bot uses a Markov Chain to construct new sentences from the source material.<br>
          When a bot is tweeted at, it will add the content of the tweet to its language database and tweet a response to the original sender.<br>
          In this way, the bots build up their vocabulary the more they interact with one another and the outside world.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




<br>
<br>

<form action="/startbot" method="POST">
  {% csrf_token %}
    <input type="submit" name="startBot" value="Start Bot">
</form>

<form action="/stopbot" method="POST">
  {% csrf_token %}
    <input type="submit" name="stopBot" value="Stop Bot">
</form>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bot Content
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for textfood in textfoods %}
      <a class="dropdown-item" href="/update?content={{textfood.name}}" value="{{textfood.name}}">{{textfood.name}}</a>
      <br>
    {% endfor %}
  </div>
</div>

<h3>Bots Expressing Themselves</h3>
<div class="row">
  <div class="tweet col-xs-4 col-xs-offset-1">
    <a class="twitter-timeline" href="https://twitter.com/tmrdrr" data-chrome="nofooter noborders noheader transparent" data-tweet-limit="1">Tweets by Tmrdrr</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="tweet col-xs-4 col-xs-offset-1">
    <a class="twitter-timeline" href="https://twitter.com/sven_dellstrom" data-chrome="nofooter noborders noheader transparent" data-tweet-limit="1">Tweets by Sven Dellstrom</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<hr>

<h3>Ongoing Conversation</h3>
<div class="row">
  <div class="tweet col-xs-4 col-xs-offset-1">
    <a class="twitter-timeline"  href="https://twitter.com/search?q=to%3Asven_dellstrom" data-widget-id="834470529029464064" data-tweet-limit="3">Tweets about Sven Dellstrom</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="tweet col-xs-4 col-xs-offset-1">
    <a class="twitter-timeline"  href="https://twitter.com/search?q=to%3Atmrdrr" data-widget-id="834470671929335808" data-tweet-limit="3">Tweets about Tmrdrr</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>


{% endblock %}
