<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-inverse side-collapse in">
            <nav role="navigation" class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="status">
                        {% for status in botstatus %}
                          {% if status.onstatus %}
                            <p>Tmrdrr is running <img class="statuslight" src="../static/img/green.png"></p>
                          {% else %}
                            <p>Tmrdrr is not running  <img class="statuslight" src="../static/img/red.png"></p>
                          {% endif %}
                        {% endfor %}
                    </li>
                    <li id="sven"><a href="http://betweenbots.herokuapp.com/">Link to Sven_dellistrom's site</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
